<div class="header">
    Monitor de Procedimientos
</div>

<div class="vistas">

    <button (click)="cambiarVista('normal')">
        Monitor Procedimientos
    </button>

    <button (click)="cambiarVista('fechas')">
        Monitor de Fechas
    </button>

    <button (click)="cambiarVista('calendario')">
        Calendario
    </button>

</div>


<!-- ========================= -->
<!-- VISTA NORMAL -->
<!-- ========================= -->

<div *ngIf="modoVista === 'normal'">

    <div class="filtros">

        <div class="filtroItem" (click)="filtrar('TODOS')" [ngClass]="{'activo': estadoSeleccionado === 'TODOS'}">
            TODOS
        </div>

        <div class="filtroItem" *ngFor="let e of estados" (click)="filtrar(e)"
            [ngClass]="{'activo': estadoSeleccionado === e}">
            {{e}}
        </div>

    </div>


    <div class="lista" *ngIf="estadoSeleccionado !== 'TODOS'">
        <div class="procItem" *ngFor="let p of procedimientosFiltrados; let i=index" (click)="ir(i)"
            [ngClass]="{'procActivo': i===index}">
            {{p.proc}}
        </div>
    </div>


    <div class="container">

        <div class="panel">

            <div class="proc" (click)="toggleDesc()">
                {{procedimientoActual?.proc}}
            </div>

            <div class="estado">
                {{procedimientoActual?.estado}}
            </div>

            <div class="desc" (click)="abrirProcedimiento(procedimientoActual.uid)" [class.abierto]="descVisible">
                {{procedimientoActual?.desc}}
            </div>


            <div class="timeline">

                <div class="step">
                    <div class="circle" [ngClass]="claseCirculo(0)">1</div>
                    <div class="label">VISITA</div>
                    <div class="date" [innerHTML]="formatoFecha(procedimientoActual?.visita)">
                    </div>
                </div>

                <div class="step">
                    <div class="circle" [ngClass]="claseCirculo(1)">2</div>
                    <div class="label">ACLARACIONES</div>
                    <div class="date" [innerHTML]="formatoFecha(procedimientoActual?.aclar)">
                    </div>
                </div>

                <div class="step">
                    <div class="circle" [ngClass]="claseCirculo(2)">3</div>
                    <div class="label">APERTURA</div>
                    <div class="date" [innerHTML]="formatoFecha(procedimientoActual?.apertura)">
                    </div>
                </div>

                <div class="step">
                    <div class="circle future">4</div>
                    <div class="label">FALLO</div>
                    <div class="date" [innerHTML]="formatoFecha(procedimientoActual?.fallo)">
                    </div>
                </div>

            </div>


            <div class="counter">
                Próximo evento:
                <b>{{proximoNombre}}</b>
                <br>
                <span>{{ formatoTiempo() }}</span>
            </div>

        </div>

    </div>

</div>


<!-- ========================= -->
<!-- VISTA MONITOR DE FECHAS -->
<!-- ========================= -->

<div *ngIf="modoVista === 'fechas'" class="monitorFechas">

    <div *ngFor="let e of eventosProximos" class="evento" (click)="abrirProcedimiento(e.uuid)" [ngClass]="{
        'rojo': e.dias <= 1,
        'alerta': e.dias >= 2 && e.dias <= 5,
        'verde': e.dias > 5
     }">

        <div class="proc">
            {{e.proc}}
        </div>

        <div class="estado2">
            {{e.estado}}
        </div>

        <div class="eventoNombre">
            {{e.evento}}
        </div>



        <div class="fecha" [innerHTML]="formatoFecha(e?.fecha)">


        </div>

        <div class="dias">
            Tiempo Restante: {{ formatoTiempoRestante(e.fecha) }}
        </div>

    </div>

</div>

<!-- ========================= -->
<!-- VISTA CALENDARIO -->
<!-- ========================= -->

<div *ngIf="modoVista === 'calendario'" class="calendario">

    <div *ngFor="let dia of calendario" class="cardDia">

        <!-- FECHA -->
        <div class="fechaDia">
            {{ formatoSoloFecha(dia.fecha) }}
        </div>

        <!-- EVENTOS -->
        <div *ngFor="let e of dia.eventos" class="eventoBloque" [ngClass]="claseEvento(e.fecha)">


            <div class="proc">
                {{ e.proc }}
            </div>
            
            <div class="tipo">
                {{ e.estado }}
            </div>

            <div class="tipo">
                {{ e.evento }}
            </div>
            <div class="hora">
                {{ formatoTiempoRestante(e.fecha) }}
            </div>

        </div>

    </div>

</div>